<section class="todoapp">
  <header class="header">
    <h1>Spa</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="">
  </header>
  <section class="main">
    <ul class="todo-list">
   
</ul>
  </section>
</section>

<script>
  $(function() {
    $.get("/tasks").success( function( data ) {
      var htmlString = "";
      //  lists each task 
      $.each(data, function(index,  task) {
        // pulls task that have been cheked
        var checkedStatus = task.done? "checked" : "";
        // pulls the "li" variable from todo
        // list the task non-completed and completed
        var liElement = '<li><div class="view"><input class="toggle" type="checkbox"' +
        " data-id='" + task.id + "'" +
        checkedStatus +

        '><label>' +
         task.title +
         '</label></div></li>';
        htmlString += liElement;
      });
      // pulls the "ul" variable from todo
      var ulTodos = $('.todo-list');
      ulTodos.html(htmlString);
    
    // allows if tasked to be toggled
    $('.toggle').change(function(e) {
        var itemId = $(e.target).data("id");
        console.log(itemId);

        var doneValue = Boolean($(e.target).is(':checked'));
        console.log("done:", doneValue);

        $.post("/tasks/" + itemId, {
          _method: "PUT",
          task: {
            done: doneValue
          }
        });

      });

    });
  });
</script>